# Ignore Python bytecode files
__pycache__/

# Ignore image files
image/
generated/
images/
# Ignore environment variables file
.env

# Ignore text document
doc.txt

# Ignore specific image file
xyz.png
prescription.jpg
prescription_2.jpg